.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// SHOW CARD

.card-trip {
  overflow: hidden;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  text-decoration: none;
}

.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-size: center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: black;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

}
@media (max-width: 450px){
  .wrapper{
    grid-template-columns: 1fr;
  }
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: red;
  column-gap: 10px;
  row-gap: 10px;

}
@media (max-width: 450px){
  .wrapper2{
    grid-template-columns: 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.map {
  height: 100vh;
  position: sticky;
  top: 0;
}
