<div class="container">
  <h1>All Motos</h1>
    <div class="wrapper">
      <% @motos.each do |moto| %>
        <div class="card-trip">
          <img src="https://images.caradisiac.com/logos/0/7/1/9/270719/S7-essai-yamaha-mt-10-mod-2022-si-differente-dans-la-difference-194977.jpg" alt="moto">
          <h2 class="card-trip-infos"><%= link_to moto.brand, moto_path(moto.id), class:"card-trip-infos" %></h2>
          <p class="card-trip-infos"><%= moto.address %></p>
                <%# <%= link_to "Edit", edit_moto_path(moto.id), class:"btn btn-flat-index mb-3" %>
                <%# <%= link_to "Delete",
                moto_path(moto.id), class:"btn btn-flat-index mb-3", %>
                <%# method: :delete,
                data: { confirm: "Are you sure?" } %>
            </li>
          </div>
        <% end %>
    </div>

</div>

<%# <div class="wrapper2">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
</div> %>
